BOT_TOKEN=8639713119:AAEz5Us7hRExzf7TrLsHGgvGterOhvtjWtM
ADMIN_IDS=7912716605
WEBHOOK_URL=https://your-project.railway.app
WEBHOOK_PATH=/webhook

# Telegram Stars (оставь пустым)
# PAYMENT_PROVIDER_TOKEN_STARS=
